.header {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 25px;
  padding: 0 40px;
  .navbar {
    background-color: transparent !important;
  }
  .navbar-item {
    color: #000000;
    font-weight: 600;
    margin-left: 40px;
    &:hover {
      background-color: transparent !important;
    }
  }
}